.notion-app {
    background: transparent !important;
    margin-top: 10em;
}

/* any children in the notion-app div should not have background */
.notion-app * {
    background: transparent !important;
}

.notion-header {
    display: none !important;
}